.container {
  font-size: 12px;
  padding: 0.5em;
  width: 100%;
}

.error {
  color: var(--negative-reaction);
}

.success {
  color: var(--positive-reaction);
}

@media (max-width: 768px) {
  .container {
    width: 200px;
  }
}
