<app-background-image url="icons/background-blob1.svg"></app-background-image>
<form class="container" [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div class="code-div">
    <div class="lang-div">
      <h3>Enter the code</h3>
      <app-select-language
        [control]="editForm.controls.language"
      ></app-select-language>
    </div>
    <textarea
      name=""
      id=""
      placeholder="Post your logic here..."
      formControlName="code"
      [ngClass]="{
        error: editForm.controls.code.invalid && editForm.controls.code.touched
      }"
    ></textarea>
  </div>
  <div class="data-div">
    <label for="">Title</label>
    <app-text-input
      placeholder="Title"
      type="text"
      icon="title"
      [control]="editForm.controls.title"
    ></app-text-input>
    <label for="">Description</label>
    <textarea
      name=""
      id="description"
      rows="10"
      placeholder="Tell others a little more about your code..."
      formControlName="description"
      [ngClass]="{
        error:
          editForm.controls.description.invalid &&
          editForm.controls.description.touched
      }"
    ></textarea>
    <app-error [message]="message"></app-error>
    <app-custom-button
      class="gold-fill"
      text="Edit a post"
      icon="edit"
      type="submit"
    ></app-custom-button>
  </div>
</form>
