<div class="container">
  <span>{{ text }}</span>
  <input
    [placeholder]="placeholder"
    [type]="isPasswordVisible ? 'text' : type"
    [autocomplete]="type === 'password' ? 'current-password' : 'on'"
    [formControl]="control"
  />
  <mat-icon (click)="showPassword()">{{
    control.value && control.value.length > 0 && type === "password"
      ? isPasswordVisible
        ? "visibility_off"
        : "visibility"
      : icon
  }}</mat-icon>
</div>
<app-error
  [errors]="control.errors"
  *ngIf="control.invalid && control.dirty && control.touched"
></app-error>
