.container{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

input{
    font-size: 20px;
    background-color: #2D3748;
    outline: none;
    border-radius: 15px;
    border: none;
    padding: 10px 15px;
    color: white;
    width: 100%;
}

mat-icon{
    position: absolute;
    font-size: 20px;
    right: 10px; /* Razmak od desne ivice inputa */
    top: 50%;
    transform: translateY(-50%);
}