<div class="container">
    <app-background-image url="background-right.svg"></app-background-image>
    <div class="form-div">
        <h2 style="margin-bottom: 10px;">Create new account</h2>
        <span>Already a memeber? <a href="#" routerLink="/login">Log in</a></span>
        <form action="">
            <div class="grid-div">
                <app-text-input placeholder="Full name" type="text" icon="badge"></app-text-input>
                <app-text-input placeholder="Username" type="text" icon="person"></app-text-input>
            </div>
            <app-text-input placeholder="Email" type="email" icon="mail"></app-text-input>
            <app-text-input placeholder="Password" type="password" icon="lock"></app-text-input>
            <app-text-input placeholder="Confirm password" type="password" icon="lock"></app-text-input>
            <app-custom-button text="Register" type="submit" icon="app_registration" style="margin-top: 1em;"></app-custom-button>
        </form>
    </div>
</div>
