header{
    padding: 0.5em;
}

.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: relative;
}

a.logo{
    padding: 1em;
    font-weight: bold;
    color: white;
}

nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba(226, 232, 255, .1);
    border-radius: 999px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    display: flex;
    padding: 0 0.5em 0 0.5em;
    gap: 1em;
}

nav ul li a{
    padding: 1em;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    color: var(--gray-color);
}

.left-header-div{
    display: flex;
    gap: 0.5em;
}

.profile{
    padding: 0.4em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create{
    padding: 0.4em;
    border-radius: 10px;
    background-color: var(--main-color-gold);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.scrolled .logo, 
.container.scrolled .left-header-div {
  display: none;
}