<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo" [ngClass]="{'slide-left': isScrolled}">DevScore</a>
        <nav>
            <ul [ngClass]="{'scrolled': isScrolled}">
                <li>
                    <a href="#" routerLink="/">Home</a>
                </li>
                <li>
                    <a href="#" routerLink="/posts">Posts</a>
                </li>
                <li>
                    <a href="#" routerLink="">Rang List</a>
                </li>
                <li>
                    <a href="#" routerLink="/about">About us</a>
                </li>
                <li *ngIf="isScrolled">
                    <a href="#" routerLink=""><mat-icon>add</mat-icon></a>
                </li>
                <li *ngIf="isScrolled">
                    <a href="#" routerLink=""><mat-icon>person</mat-icon></a>
                </li>
            </ul>
        </nav>
        <div class="right-header-div" [ngClass]="{'slide-right': isScrolled}">
            <a href="#" routerLink="" class="create">
                <mat-icon>add</mat-icon>
            </a>
            <a href="#" routerLink="" class="profile">
                <mat-icon>person</mat-icon>
            </a>
        </div>
    </div>
</header>