header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5em;
  z-index: 999;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 60px;
}

.logo-div {
  display: flex;
  align-items: center;
  padding-left: 0.4em;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s ease;
}

.logo-image {
  width: 2em;
  height: 2em;
}

a.logo-text {
  padding: 1em 0.5em;
  font-weight: bold;
  color: white;
  visibility: visible;
}

nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid rgba(226, 232, 255, 0.1);
  border-radius: 999px;
}

nav .scrolled {
  // background-color: rgba(255, 255, 255, 0.1);
  background-color: var(--dark-background-color);
  border-radius: 999px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding: 0 0.5em 0 0.5em;
  gap: 1em;
  align-items: center;
  border-radius: 999px;
  transition: background-color 0.4s ease;
}

nav ul li {
  user-select: none;
}

nav ul li a {
  display: flex;
  padding: 1em;
  font-size: 14px;
  line-height: 20px;
  color: var(--gray-color);
  white-space: nowrap;
}

.notifications-span {
  display: flex;
  padding: 1em;
  font-size: 14px;
  line-height: 20px;
  color: var(--gray-color);
  cursor: pointer;
}

.right-header-div {
  display: flex;
  gap: 0.5em;
  visibility: visible;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s ease;
  align-items: center;
}

.profile {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-image {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  object-fit: cover;
  border: max(2px, 0.125rem) solid #2a354b;
}

.create {
  width: 2em;
  height: 2em;
  border-radius: 10px;
  background-color: var(--main-color-gold);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-left {
  opacity: 0;
  transform: translateX(-20px);
  visibility: hidden;
  pointer-events: none;
}

.slide-right {
  opacity: 0;
  transform: translateX(20px);
  visibility: hidden;
  pointer-events: none;
}

#add-li,
#person-li {
  display: none;
}

@media (max-width: 768px) {
  .container {
    justify-content: center;
  }

  .right-header-div {
    display: none;
  }

  a.logo-text,
  .logo-image {
    display: none;
  }

  nav ul {
    gap: 0;
    padding: 0.2em;
  }

  nav ul li a,
  .notifications-span {
    padding: 0.3em;
    font-size: 13px;
  }

  #add-li,
  #person-li {
    display: block;
  }
}
