<div class="container">
  <div class="post-div">
    <div class="left-div">
      <div class="language-div">
        <span class="indicator"></span>
        <span>PHP</span>
      </div>
      <h3>OpenMP parallel program</h3>
    </div>
    <div class="right-div">
      <button id="edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button id="delete">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="post-div">
    <div class="left-div">
      <div class="language-div">
        <span class="indicator"></span>
        <span>PHP</span>
      </div>
      <h3>OpenMP parallel program</h3>
    </div>
    <div class="right-div">
      <button id="edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button id="delete">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="post-div">
    <div class="left-div">
      <div class="language-div">
        <span class="indicator"></span>
        <span>PHP</span>
      </div>
      <h3>OpenMP parallel program</h3>
    </div>
    <div class="right-div">
      <button id="edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button id="delete">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
