<div class="container">
  <div class="post-div" *ngFor="let post of myPost$ | async">
    <div class="left-div">
      <span class="language-div">
        <span class="indicator"></span>
        <span>{{ post.language }}</span>
      </span>
      <h3 (click)="showPost(post.id)">{{ post.title }}</h3>
    </div>
    <div class="right-div">
      <button id="edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button id="delete" (click)="openPopup(post.id!)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
<app-popup
  *ngIf="isPopupOpened"
  (clickedNo)="closePopup()"
  (clickedYes)="deletePost()"
></app-popup>
