.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.post-div {
  font-size: 14px;
  width: 48%;
  min-width: 240px;
  display: flex;
  justify-content: space-between;
  border: max(1px, 0.0625rem) solid #2a354b;
  padding: 1em;
  border-radius: 10px;
}

.left-div {
  cursor: pointer;
  padding: 0.5em;
}

.left-div h3 {
  margin: 0.5em 0;
}

.right-div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--main-color-turq);
  border-radius: 50%;
}

.language-div {
  display: inline-flex;
  background-color: var(--input-color);
  padding: 0.3em 0.8em;
  border-radius: 10px;
  gap: 0.5em;
  align-items: center;
}

.right-div button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  width: 100%;
}

.empty p {
  font-weight: lighter;
}

#delete {
  color: var(--negative-reaction);
}

@media (max-width: 768px) {
  .container {
    justify-content: center;
  }

  .post-div {
    width: 100%;
  }
}
