<div class="container" [ngClass]="{ pl: nested }">
  <div style="text-align: center">
    <img src="/test-avatar.png" alt="user-avatar" />
    <mat-icon style="color: var(--positive-reaction)" *ngIf="!nested"
      >checked</mat-icon
    >
  </div>
  <div style="display: grid; gap: 0.5em">
    <span class="text"
      ><span class="user-name">architectanddesign</span>Lorem ipsum dolor sit
      amet, consectetur adipiscing elit.</span
    >
    <div class="bottom-div">
      <span>2 minutes ago</span>
      <span class="reply">Reply</span>
    </div>
  </div>
</div>
