<div class="container">
  <app-background-image url="icons/background.svg"></app-background-image>
  <div class="form-div">
    <h2>Log in</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <app-text-input
        placeholder="Username"
        type="text"
        icon="badge"
        [control]="loginForm.controls.username"
        style="margin-bottom: 14px"
      ></app-text-input>
      <app-text-input
        placeholder="Password"
        type="password"
        icon="lock"
        [control]="loginForm.controls.password"
      ></app-text-input>
      <app-custom-button
        text="Login"
        type="submit"
        icon="login"
        style="margin-top: 1em"
      ></app-custom-button>
      <app-error *ngIf="error" [errorMessage]="error"></app-error>
    </form>
    <span
      >Don't have an account?
      <a href="#" routerLink="/register">Register</a></span
    >
  </div>
</div>
