.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form-div {
  padding: 3em;
  margin-bottom: 2em;
}

form {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 5px;
}

.form-div span {
  font-size: 12px;
}

.form-div span a {
  color: var(--main-color-turq);
}
