.container {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.form-div {
  padding: 1em 5em;
}

form {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.form-div span {
  font-size: 12px;
}

.form-div span a {
  color: var(--main-color-turq);
}

.grid-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-bottom: 14px;
}

@media (max-width: 768px) {
  .container {
    justify-content: center;
  }

  .form-div {
    padding: 1em 3em;
  }

  .grid-div {
    grid-template-columns: 1fr;
  }
}
