.container {
  width: min(400px, 90vw);
  height: 80vh;
  background-color: var(--dark-background-color);
  position: fixed;
  top: 14vh;
  right: 0;
  padding: 1em;
  padding-right: 0.5em;
  z-index: 100;
  border-radius: 20px 0 0 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.notify-div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow: auto;
  height: 90%;
  scrollbar-color: #4a5c73 #2a354b;
  scrollbar-width: thin;
}
