<div class="container" *ngIf="isLoggedIn" [@slideInOut]="stateName">
  <div class="blur">
    <div class="pre-div">
      <h3>Notifications</h3>
      <mat-icon (click)="clickedClose()">east</mat-icon>
    </div>
    <div class="notify-div" *ngIf="notifications.length !== 0">
      <app-post-activity
        *ngFor="let notification of notifications"
        [notification]="notification"
      ></app-post-activity>
    </div>
    <div class="empty" *ngIf="notifications.length === 0">
      <p>you have no notifications yet</p>
    </div>
  </div>
</div>
