<div class="container">
  <h2>Trending now</h2>
  <div class="cards-div">
    <div class="cards-div">
      <div class="card">
        <h3>Sorting Algorithm Problems</h3>
        <div class="lang-div"><span></span>PHP</div>
        <div class="item-bg"></div>
      </div>

      <div class="card">
        <h3>Dynamic Programming Challenges</h3>
        <div class="lang-div"><span></span>JavaScript</div>
        <div class="item-bg"></div>
      </div>

      <div class="card">
        <h3>Graph Theory Puzzles</h3>
        <div class="lang-div"><span></span>Python</div>
        <div class="item-bg"></div>
      </div>

      <div class="card">
        <h3>Greedy Algorithm Problems</h3>
        <div class="lang-div"><span></span>Java</div>
        <div class="item-bg"></div>
      </div>

      <div class="card">
        <h3>Backtracking Exercises</h3>
        <div class="lang-div"><span></span>C++</div>
        <div class="item-bg"></div>
      </div>

      <div class="card">
        <h3>Divide and Conquer Tasks</h3>
        <div class="lang-div"><span></span>Ruby</div>
        <div class="item-bg"></div>
      </div>
    </div>
  </div>
</div>
