<main>
  <app-mesh-gradient></app-mesh-gradient>
  <div style="height: 80vh; margin-bottom: 5em">
    <app-animated-text></app-animated-text>
    <div class="arrow"></div>
  </div>
  <div style="margin-bottom: 5em">
    <app-trending></app-trending>
  </div>
  <div style="margin-bottom: 5em">
    <app-code-section></app-code-section>
  </div>
  <div class="get-started">
    <h2>Ready to step into your coding game?</h2>
    <app-custom-button
      class="gold-hover"
      text="Get Started"
    ></app-custom-button>
  </div>
</main>
