.container {
  width: 100%;
  margin-top: 0.4em;
}

.show-div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.4s;
  padding: 0.5em;
  border-radius: 10px;
}

.reactions-div {
  width: 100%;
  padding: 1em;
}

.show-div mat-icon {
  transition: all 0.4s;
}

.rotate {
  transform: rotate(180deg);
}

.pre-add-div {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--gray-color);
  gap: 0.5em;
  cursor: pointer;
  font-weight: lighter;
}

.add-reaction-div {
  border: max(1px, 0.0625rem) solid #2a354b;
  border-radius: 10px;
  padding: 1em;
}

.reaction-icons-div {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 5px;
}

.reaction-icons-div mat-icon {
  cursor: pointer;
  border-radius: 5px;
}

.reaction-icons-div mat-icon:hover {
  background-color: #2a354b;
}

.container input {
  background-color: transparent;
  border: none;
  color: white;
  width: 90%;
  outline: none;
  font-size: 14px;
}

.post-reaction {
  color: var(--main-color-turq);
  cursor: pointer;
}

@media (max-width: 425px) {
  .add-reaction-div {
    gap: 2em;
  }
}
