<div class="container">
  <div class="user-info-div">
    <form [formGroup]="dashboardForm" (ngSubmit)="onSubmit()">
      <div class="data-div">
        <div class="row-div">
          <app-upload-image
            [url]="dashboardForm.controls.image"
            [userId]="id"
          ></app-upload-image>
          <div style="display: flex; flex-direction: column">
            <app-text-input
              text="Full name"
              [control]="dashboardForm.controls.fullname"
            ></app-text-input>
            <app-text-input
              text="Username"
              [control]="dashboardForm.controls.username"
            ></app-text-input>
          </div>
        </div>
        <app-text-input
          text="Email"
          [control]="dashboardForm.controls.email"
        ></app-text-input>
        <div>
          <app-text-input
            placeholder="Password"
            type="password"
            icon="lock"
            text="Change password"
            [control]="dashboardForm.controls.password"
          ></app-text-input>
        </div>
        <div>
          <app-text-input
            placeholder="Confirm password"
            type="password"
            icon="lock"
            text="Confirm password"
            [control]="dashboardForm.controls.confirmPassword"
          ></app-text-input>
        </div>
        <app-error *ngIf="message.text" [message]="message"></app-error>
        <app-custom-button
          class="turq-fill"
          text="Save"
          icon="save"
          type="submit"
        ></app-custom-button>
      </div>
    </form>
  </div>
</div>
