<div class="container">
  <div class="user-info-div">
    <div class="data-div">
      <div class="row-div">
        <app-upload-image></app-upload-image>
        <div style="display: flex; flex-direction: column; gap: 0.5em">
          <app-text-input text="Full name"></app-text-input>
          <app-text-input text="Username"></app-text-input>
        </div>
      </div>
      <app-text-input text="Email"></app-text-input>
      <div>
        <span style="margin-left: 5px; font-size: 12px">Password</span>
        <app-text-input
          placeholder="Password"
          type="password"
          icon="lock"
        ></app-text-input>
      </div>
      <div style="margin-bottom: 1em">
        <span style="margin-left: 5px; font-size: 12px">Confirm Password</span>
        <app-text-input
          placeholder="Confirm password"
          type="password"
          icon="lock"
        ></app-text-input>
      </div>

      <app-custom-button
        class="turq-fill"
        text="Save"
        icon="save"
      ></app-custom-button>
    </div>
  </div>
</div>
