.container {
  display: flex;
  gap: 1em;
}

.user-info-div {
  // background-color: var(--background-color);
  width: 50%;
  border-radius: 20px;
  padding: 1em;
  display: grid;
  place-items: center;
  gap: 1em;
  // box-shadow: 0px 0px 1px var(--main-color-turq);
}

.data-div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.row-div {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

@media (max-width: 768px) {
  .user-info-div {
    width: 100%;
    height: auto;
  }

  .container {
    flex-direction: column;
    width: 100%;
  }

  .row-div {
    grid-template-columns: 1fr;
  }
}
