<div class="container">
  <div class="reaction-div">
    <div style="text-align: center">
      <img
        src="/images/test-avatar.png"
        alt="user-avatar"
        *ngIf="!reaction.user?.image"
      />
      <img
        src="http://localhost:3000/uploads/{{ reaction.user?.image }}"
        alt="user-avatar"
        *ngIf="reaction.user?.image"
      />
      <mat-icon
        [ngStyle]="
          reaction.type == 0
            ? { color: 'var(--positive-reaction)' }
            : { color: 'var(--negative-reaction)' }
        "
        >{{ reaction.type == 0 ? "checked" : "close" }}</mat-icon
      >
    </div>
    <div style="display: grid; gap: 0.5em">
      <span class="text"
        ><span class="user-name">{{ reaction.user?.username }}</span>
        {{ reaction.text }}</span
      >
      <div class="bottom-div">
        <span>{{ postedTime }}</span>
        <span class="reply" (click)="onReplyClick()">Reply</span>
      </div>
    </div>
  </div>
  <span
    class="view-comments"
    (click)="showComments()"
    *ngIf="!isCommentsShowed && reaction.commentsNumber != 0"
    >View {{ reaction.commentsNumber }} comments</span
  >
  <div class="comments-div" *ngIf="isCommentsShowed">
    <app-comment
      *ngFor="let comment of comment$ | async"
      [comment]="comment"
      (onReplyClick)="replyToComment($event)"
    ></app-comment>
  </div>
  <div class="post-comm-div" *ngIf="replyClicked">
    <input
      type="text"
      placeholder="Add a comment..."
      [(ngModel)]="comment.text"
    />
    <span class="post-comment" (click)="postComment()">Post</span>
  </div>
</div>
