.container {
  display: flex;
  padding: 0 3em;
  gap: 1em;
  flex-wrap: wrap;
}

.code-div {
  flex: 3;
  min-width: 300px;
}

.lang-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-div {
  width: 100%;
  flex: 2;
  border-radius: 15px;
  border: 1px solid var(--main-color-turq);
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  min-width: 200px;
}

.code-div textarea {
  width: 100%;
  resize: none;
  background-color: var(--input-color);
  font-size: 16px;
  height: 400px;
  color: white;
  border-radius: 15px;
  padding: 1em;
  overflow: auto;
  scrollbar-color: #4a5c73 #2a354b;
  scrollbar-width: thin;
  outline: none;
}

#description {
  width: 100%;
  resize: none;
  background-color: var(--input-color);
  font-size: 16px;
  color: white;
  border-radius: 15px;
  padding: 1em;
  margin-bottom: 0.5em;
  outline: none;
}

@media (max-width: 768px) {
  .container {
    font-size: 16px;
    padding: 0.5em;
  }

  .data-div {
    flex: auto;
  }
}
