<div class="container">
  <div class="main-div">
    <h1>About</h1>
    <p class="description">
      Devscore is a platform built by developers, for developers. Here, you can
      share your code, receive valuable feedback, and grow with a community that
      values collaboration and learning.
    </p>
    <div class="sponsors">
      <h3>Our Technology Partners</h3>
      <div class="logos">
        <img src="icons/angular.svg" alt="" />
        <img src="icons/rxjs.svg" alt="" />
        <img src="icons/ngrx.svg" alt="" />
        <img src="icons/redux.svg" alt="" />
        <img src="icons/nestjs.svg" alt="" />
      </div>
    </div>
  </div>
</div>
