select {
  width: 100%;
  font-size: 20px;
  padding: 0.5em;
  border: none;
  outline: none;
  background-color: var(--background-color);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  overflow: auto;
}

.error {
  border: 1px solid var(--negative-reaction);
}

select::-webkit-scrollbar {
  width: 0px;
}

@media (max-width: 768px) {
  select {
    font-size: 16px;
  }
}
