/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --background-color: #151A25;
    --gray-color: #e2e8ffbf;
    --main-color-gold: #FFC107;
    --main-color-turq: #00bcd4;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    background-color: var(--background-color);
    color: white;
}

a{
    text-decoration: none;
}
